<div class="Code-line Code-line_type_<%= type %> Type Typo_style_code">
    <% if (diff) { %>
        <div class="Code-number"><%= prevNumber %></div>
    <% } %>
    <div class="Code-number"><%= number %></div>
    <pre class="Code-text <%= language %>"><%= text %></pre>
</div>